PORT=8000
CMMS_DB_PATH=./cmms.db
CMMS_ADMIN_USER=admin
CMMS_ADMIN_PASSWORD=FixingSpaces123!
CMMS_ROOT_USER=phillip.eubanks@livingspaces.com
CMMS_ROOT_PASSWORD=131171
CMMS_SECRET_KEY=replace-with-a-random-secret

